// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$ejornal: #2e87b8;
$ejornal_claro: #61d6f2;
$ejornal_dark: #376d7a;
$ejornal_gris_claro: #cfcfcf;
$ejornal_gris_oscuro: #404040;
$ejornal_red: #8a2c2c;
$ejornal_success: #32a88b;
$ejornal_warning: #969035;
