.double-nav .breadcrumb-dn {
  color: #fff;
}

.clientes_resumen_estadisticas{
  display: flex;
  justify-content: space-between;

  & .tabla{
    padding: 20px;

    & .tabla_titulo{
        width: 100%;
        height: auto;
        background-color: white;
        border: 50%;
        padding: 20px;
        -webkit-box-shadow: 0px 0px 11px -5px rgba(0,0,0,0.19);
        -moz-box-shadow: 0px 0px 11px -5px rgba(0,0,0,0.19);
        box-shadow: 0px 0px 11px -5px rgba(0,0,0,0.19);

      & h4{
        color: black;
      }
    }
  }
}

.resumen_graficos {
  display: flex;
  justify-content: space-between;
}


#grafico_compra_venta{
  max-width: 500px;
  width: auto;
  height: 300px;
}

#grafico_provienen_interesados{
  max-width: 500px;
  width: auto;
  height: auto;
}

.contenedor_resumen{
  margin: 10px;
}

.contenedor_resumen_bloque_principal{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  & .resumen_bloque_principal{
    background-color: white;
    border: 1px solid grey;
    border: 1px solid #d9d9d9;
    border-radius: 1.5rem;
    overflow: hidden;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.1);
    min-width: 200px;
    margin-bottom: 20px;

    & .resumen_bloque_principal_titulo{
      background-color: rgba(81,164,162,0.85);
      padding: 10px;
      text-align: center;

      & h6{
        color: white;
      }
    }

    & .resumen_bloque_datos{
      min-height: 100px;
      text-align: center;
      margin-top: 10px;

      & h2{
        color: #408280;
      }

      & span{
        color: #408280;
      }
    }
  }

}

.resumen_tablas{
  display: flex;
  width: 100%;
  align-items: center;

  & .tarjeta{
    width: 100%;
    padding: 20px;
  }
}
