.cabecera_consultas_historial{

  & h2 i{
    font-size: 20px;
    margin-top: 10px;
  }

  & h2 button h6:hover{
    color: white;
  }

  & h2 button h6:focus-visible {
    color: white;
  }

  & h2 button:focus-visible {
    color: white;
  }

  & h2 button:focus {
    color: white;
  }


}

.card_consultas{
  display: flex;
  flex-wrap: wrap;

  & .card_consulta{
    margin-right: 20px;

    & h4{
      color: $ejornal;
    }

    & .card_consultas_titulo{
      background: #ebebeb;
      padding: 10px 20px 10px 20px;

      & h6{
        color: black;
      }

    }

  }

}


.testeos_vacunas_historial_trabajador {
  list-style: none;

  & li{
    color: #e3e3e3;
  }
}


.foto-perfil{

  background-size:cover;
  background-position:center;
  border-radius: 50%;
  border:1px solid rgb(200,200,200);
  box-shadow:1px 4px 8px rgba(0,0,0,.2);
  height:200px;
  margin: 0 auto;
  padding: 0;
  width:200px;
}