#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}
#sidebar-wrapper .form-control {
  max-width: 16rem;
}


#sidebar-wrapper .list-group {
  width: 16rem;
  max-width: 16rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

#hamburguesa{
  background-color: transparent;
  border: none;
}

#hamburguesa:focus{
  outline: inherit;
}

.bg_sidebar{
  background-color: #2f4050;
}

.list-group-item{
  background-color: transparent !important;
}

.list-group-item-action{
  color: #c9c9c9 !important;
}

.logo_sidebar{
  display: flex;
  align-items: center;
  justify-content: center;

  & img{
    width: 60px;
  }
}

.sidebar_datos_user{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #263240;
  padding: 20px;

  & i{
    font-size: 3em;
    color: white;
    margin-bottom: 10px;
  }

  & > span{
    color: white;
    margin-bottom: 10px;

  }

  & small{
    color: #c2c2c2;
    font-size: 12px;
  }

  & p{
    color: #c2c2c2;
    font-size: 10px;
  }

  & .client-selector{
    width:100%;

    & .select2{
      width: 100%;
      max-width:200px;

      & .select2-selection__rendered{
        font-size: 10pt;
      }
    }
  }


}

.sidebar_menu{

  & li{
    list-style: none;
    border-bottom: 1px solid #212b36;
  }

  & .menu_sin_sub_menu{
    display: flex;
    align-items: center;

    & i{
      color: white;
      padding-left: 20px;
      padding-right: 10px;
    }

    & a{
      padding-left: 0px;
    }
  }

  & li:hover{
    background-color: #2a3745 !important;
  }



}


.dropdownButton {
  display: flex;
  align-items: center;

  & i:first-child{
    color: white;
    padding-left: 20px;
    padding-right: 10px;
  }

  & .flecha_sub_menu{
    padding-left: 15px;
    padding-right: 15px;
    color: white;
    cursor: pointer;
  }

  & a{
    display: flex;
    padding-left: .225rem;
    line-height:1.15;
  }
}

.dropdownContent{
  display: none;

  & ul{
    margin: 0px;
    & ol{
      height: 46px;
      display: flex;
      align-items: center;
      border-bottom: none;
      border-top: 1px solid #212b36;
      background-color: #293645;
      cursor: pointer;
      font-size: 10pt;
      height: auto;
      & a{
        padding: .625rem 1.5rem;
        width: 100%;
        color: #c9c9c9;
        display: block;
        line-height: 1.15;
      }
      & a:hover{
        text-decoration: none;
      }
    }
    & ol:hover{
      background-color: #3b4959;
    }
  }
}




/* Reducir la altura del contenedor de Select2 */
.select2-container .select2-selection--single {
  height: 30px; /* Cambia la altura a tu gusto */
  line-height: 30px; /* Ajusta el alineamiento vertical */
}

/* Ajustar el input de búsqueda de Select2 */
.select2-container .select2-selection--single .select2-selection__rendered {
  padding-left: 8px; /* Ajusta el padding interno si es necesario */
  line-height: 30px; /* Alineación del texto */
}

/* Ajustar la caja de búsqueda dentro del dropdown */
.select2-container .select2-dropdown .select2-search__field {
  height: 30px; /* Ajusta la altura del campo de búsqueda */
}


.select2-container .select2-dropdown {
  font-size: 0.9rem; /* Cambia el tamaño de fuente del dropdown */
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -17.5rem;
  }
}
