.dt-buttons button{
  background-color: #cccccc !important;
  border: none;
  box-shadow: none;

  &:hover {
    color: black;
    background-color: #b5b5b5 !important;
    box-shadow: none;
  }

  &:focus {
    color: black;
    background-color: #b5b5b5 !important;
    box-shadow: none;
  }

}


@mixin botones_tabla($color){
  background-color: $color;
  padding: 0;
  border-radius: 50%;
  height:32px;
  width:32px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px !important;

  & i{
    font-size: 10pt;
    color: white;
  }
}
.acciones_tabla {
  display: flex;

  & a,button{
    &:hover{
      text-decoration: none;
      opacity:.75;
    }
  }

  & a {
    @include botones_tabla($ejornal);
  }

  & button{
    @include botones_tabla($ejornal_red);
  }
  & span{
    color:white;
    font-size: 10pt;
    margin-left:3pt;
  }
  & .btn-label{
    width:auto;
    border-radius:10pt;
    padding:0 .625rem;
  }
}



.sorting_1.dtr-control::before{
  top: 20px !important;
}


.dataTables_filter label input[type="search"]{
  cursor: initial;
}


.tabla_user .small{
  font-size: .875rem;
}

.foto-user-tabla{
  background-color:#bfbfbf;
  background-repeat:no-repeat;
  background-position:center;
  background-size:cover;
  border-radius:6px;
  box-shadow: 1px 1px 6px rgba(0,0,0,.35);
  margin:0 .925rem .425rem 0;
  height: 66px;
  width: 66px;
  display:flex;
  align-items:center;
  justify-content:center;
  &:after{
    content:'\f007';
    font-family: 'Font Awesome 5 Pro';
    font-weight: 600;
    color:#999;
    font-size: 3rem;
  }
}
.foto-user-tabla.has-image:after{
  content:'';
}



.custom-select{
  background-image: none !important;
}

div.dataTables_wrapper{
  .table-spacer-top{
    display:flex;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: center;
    padding:.465rem 0;
    width:100%;
  }
  div.dataTables_info{
    white-space: normal;
  }
}


.pagination .page-item .page-link:focus{
  background-color:#4285f4 !important;
}

table th{
  font-weight: 600 !important;
}


.table-thumbnail{
  background-color: rgb(215,215,215);
  border:1px solid rgb(200,200,200);
  border-radius:50%;
  box-shadow:1px 2px 6px rgba(0,0,0,.25);
  overflow:hidden;
  height:50px;
  position:relative;
  width:50px;

  display: flex;
  align-items:center;
  justify-content: center;

}
.table-thumbnail .image{
  background-size: cover;
  background-position: center;
  height: 100%;
  position: absolute;
  width: 100%;
}
.table-thumbnail:after{
  content:'\f007';
  font-family: 'Font Awesome 5 Pro';
  font-weight: 600;
  font-size: 18pt;
  color:rgb(190,190,190);
}

.border-left{
  border-left: 1px solid rgb(186, 186, 186);
}


table.table{
  width:100%;
}
@media screen and (max-width:991px){
  table.table{
    th{
      font-size:9pt;
    }
    td{
      font-size:9pt;
      padding:.15 !important;
    }
  }

}