.dt-buttons button{
  background-color: #cccccc !important;
  border: none;
  box-shadow: none;

  &:hover {
    color: black;
    background-color: #b5b5b5 !important;
    box-shadow: none;
  }

  &:focus {
    color: black;
    background-color: #b5b5b5 !important;
    box-shadow: none;
  }

}


.acciones_tabla {
  display: flex;

  & a {
    background-color: $ejornal;
    padding: 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px !important;

    & i{
      color: white;
    }
  }

  & button{
    background-color: $ejornal_red;
    padding: 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    & i{
      color: white;
    }
  }

}


.sorting_1.dtr-control::before{
  top: 20px !important;
}


.dataTables_filter label input[type="search"]{
  cursor: initial;
}


.tabla_user .small{
  font-size: .875rem;
}