.text_success{
  color: $ejornal_success;
}

.text_primary{
  color: $ejornal;
}

.text_danger{
  color: $ejornal_red;
}

.text_warning{
  color: $ejornal_warning;
}

.text_grey{
  color: $ejornal_gris_claro;
}

.text_black{
  color: $ejornal_dark;
}
